@model IEnumerable<MacPartners.Domain.Models.Entities.User>

@{
    ViewData["Title"] = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h4>Usuários</h4>
    </div>
    <div class="col">
        <a asp-action="Create" style="float: right" class="btn btn-primary-mp shadow p-3 mb-5 bg-body rounded">
            Novo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item" id="unblocked-users-item">
        <a class="nav-link active" aria-current="page" id="unblocked-users-tab">Usuários Ativos</a>
    </li>
    <li class="nav-item" id="blocked-users-item">
        <a class="nav-link" id="blocked-users-tab">Bloqueados</a>
    </li>
</ul>

<div id="users-container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Sobrenome
                </th>
                <th>
                    E-mail
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Person.Name
                    </td>
                    <td>
                        @user.Person.LastName
                    </td>
                    <td>
                        @user.Person.Email.ShortEmail()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $('#blocked-users-item').click(() => {
            renderBlockedUsers();
        });

        $('#unblocked-users-item').click(() => {
            window.location.reload();
        });

        function renderBlockedUsers() {
            $.ajax({
                url: 'https://@Context.Request.Host/Users/_BlockedUsers',
                type: 'GET',
                success: function (data) {
                    $('#users-container').html(data);
                    ajustTabActive('blocked-users-tab');
                },
            });
        }

        function ajustTabActive(tabActiveId) {
            $('.nav-link').removeClass('active');
            $('#' + tabActiveId).addClass('active');
        }
    </script>
}