@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h2 class="display-4">Bem-vindo ao MacPartner</h2>
    <h4>As vendas e as comissões são suas. O estoque é nosso!</h4>
    <br />
    <br />
    <br />
    <embed src="~/images/home/undraw_Order_confirmed_re_g0if.svg" style="width:350px"/>
</div>
