@model IEnumerable<MacPartners.Domain.Models.Entities.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h4>Clientes</h4>
    </div>
    <div class="col">
        <a asp-action="Create" style="float: right" class="btn btn-primary-mp shadow p-3 mb-5 bg-body rounded">
            Novo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Nome</td>
            <td>CNPJ/CPF</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {

    var name = customer.Company != null ? customer.Company.Name : customer.Person.Name;
    var document = customer.Company != null ? customer.Company.Cnpj.Number : customer.Person.Cpf.ToString();
        <tr>
            <td>
                @name
            </td>
            <td>
                @document
            </td>
            <td>
                <button class="btn btn-sm btn-secondary" style="float:right" onclick="openOptionsMenuModal('@customer.Id', '@name')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                    </svg>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
